

.navbar {
	background: #327fc7;
	vertical-align: top;
	text-align: right;
	box-shadow: 0 2px 2px #DDD;
	border-bottom: 1px solid #CCC;
	
	z-index: 5;

	@extend %clearfix;

	> * {
		display: inline-block;
		padding: 10px 15px;
		margin-right: 0 !important;
		line-height: 25px;
	}

	a {
		text-decoration: none;
		color: #FFF;
		font-weight: bold;
	}
	
	.logo {
		display: inline-block;
		float: left;
		border: none;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			$imgw: 1730px;
			$imgh: 2005px;
			$imgratio: $imgw/$imgh;
			$target_height: 25px;
			height: $target_height;
			width: $target_height * $imgratio;
			margin-right: 5px;
		}
	}
}

@media all and (max-width: 960px) {
	.navbar {
		padding: 4px;
		
		a {
			font-size: .9em;
			padding: 4px;
		}
	}
}
