
body {
	padding-bottom: 50px;
	width: 100%;
	min-height: 100%;
	position: relative;
}

* {
	box-sizing: border-box;
}

.topbar {
	height: 50px;
	line-height: 50px;
	background: #F3F3F3;
	color: #2a912e;
	border-bottom: solid 2px #2a912e;
	text-transform: uppercase;
	padding: 0px 10px;
}

.sidebar {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	transition: .3s left .2s ease-in;
	
	.menu-title {
		color: #2a912e;
		padding: 10px;
	}
	
	.menu-entry {
		padding: 5px 10px;
		font-size: .8em;
		color: #666;
	}

	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: #333;
		}
	}
}

.sidebar:hover {
	overflow: auto;
}

.content {
	position: relative;
	margin-left: 200px;
	transition: margin .3s ease;
}

.toggle-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width : 18px;
	height: 18px;
	padding: 0px;
	background: linear-gradient(0deg, transparent 1px, #FFF 1px, #FFF 4px, transparent 4px);
}

body > .toggle-button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 20px;
}

.toggle-button:before {
	content:        '';
	position: absolute;
	left:          0px;
	top:           7px;
	height:        3px;
	width:        100%;
	background:   #FFF;
}

.toggle-button:after {
	content:        '';
	position: absolute;
	left:          0px;
	top:           0px;
	height:        3px;
	width:        100%;
	background:   #FFF;
}

.toggle-button.hidden {
	display: none;
}

.bottom {
	background: #eee;
	border-top: solid 1px #ccc;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

@media all and (min-width : 960px) {
	.contains-sidebar {
		width: 200px;
		float: left;
		position: relative;
		z-index: 99999;
		transition: .2s opacity .2s ease-in, .2s width .2s ease-in;

		
		&.collapsed {
			width: 0%;
			opacity : 0;

			.sidebar {
				left: -200px;
				transition: left .2s ease-in;
			}
			
			&+.content {
				margin-left: 0;
			}
		}
	}
}

@media all and (max-width : 960px) {
	.content { margin-left: 0; }
	.sidebar { background: #FFF; left: 0;}
	
	
	.contains-sidebar {
		z-index: 99999;
		background: rgba(0, 0, 0, 0.3);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		overflow: hidden;
		transition: .3s opacity .2s ease-in, width .2s ease-in;

		&.collapsed {
			width: 0%;
			opacity : 0;

			.sidebar {
				left: -25%;
				transition: left .2s ease-in;
			}
		}
	}
}